{% extends 'FremartecBundle:Layout:layout_pages.html.twig' %}

{% block title %}Comercial{% endblock %}

{% block stylesheets %}
	{{parent()}}
  <link rel="stylesheet" href="{{ asset('bundles/fremartec/dist/cover/cover.css') }}">
  <style type="text/css">
    .navbar-default {
        background-color: #8DC046;
        opacity: 0.9
    }
  </style>
{% endblock %}

{% block logo %}<img src="{{ asset('bundles/fremartec/dist/images/logos/logo2.png') }}" width="120px">{% endblock %}

{% block menu %}
  <li id="menu-two"><a href="" onclick="$('#two').animatescroll();">Productos</a></li>
  <li id="menu-four"><a href="" onclick="$('#four').animatescroll();">Fichas Productos</a></li>
  <li id="menu-five"><a href="" onclick="$('#five').animatescroll();">Contacto</a></li>
{% endblock %}

{% block iconmenu %}
	<li><a href="{{ path('ingenieria') }}" data-toggle="tooltip" data-placement="bottom" title="Ingeniería"><img src="{{asset('bundles/fremartec/dist/images/icons/ico2.png')}}" width="20x"></a></li>
	<li><a href="{{ path('consultora') }}" data-toggle="tooltip" title="Consultora"><img src="{{asset('bundles/fremartec/dist/images/icons/ico3.png')}}" width="20x"></a></li>
  <li><a href="{{ path('home') }}" data-toggle="tooltip" data-placement="bottom" title="Inicio"><i class="glyphicon glyphicon-home"></i></a></li>
{% endblock %}


{% block content %}


{# item 1 #}
<div id="one" class="site-wrapper" style="background-image:url('{{ asset('bundles/fremartec/dist/images/com/bg4.jpg') }}');background-size:100% 100%">
    <div class="site-wrapper-inner">
        <div class="cover-container">
        	<div class="inner cover">
				<h1><img src="{{ asset('bundles/fremartec/dist/images/logos/logo-comercial.png') }}"></h1>
				<p class="lead shadow">
					Fremartec Comercial es el área dedicada a la comercialización
					de insumos de riego, geomembranas y bombas.
					Para nosotros contar con buenos insumos es un factor clave
					para realizar grandes proyectos.
				</p>
				<a href="#" onclick="$('#productos').animatescroll();" class="btn btn-success btn-lg">Conoce Nuestros Productos&nbsp;<i class="fa fa-angle-double-down fa-lg"></i></a>
          </div>
        </div>
    </div>
</div>


{# item 2 #}
<div id="two" class="jumbotron" style="background-image:url('{{ asset('bundles/fremartec/dist/images/com/bg1.jpg') }}');background-size:100% 100%">
  <div class="container" style="background-color: rgba(255, 255, 255, 0.85)">

			<div style="background-color: #eee">
				<div class="row">
					<div class="col-md-10">
						<h6 class="text-consultora text-left" style="padding-left:20px;padding-top:20px;font-size:20px;">
							<strong>Te invitamos a conocer</strong> nuestra amplia oferta de
							productos para riego tecnificado, impulsiones y bombeos.</h6>
					</div>
				</div>

				<img src="{{ asset('bundles/fremartec/dist/images/com/productos/header.png') }}" width="100%">
			</div>

				<br>
				<div class="row">
					<div class="col-md-3">
						<img id="img-rotate" src="{{ asset('bundles/fremartec/dist/images/com/productos/tablero-electrico.png') }}" width="100%">
						<img id="img-rotate" src="{{ asset('bundles/fremartec/dist/images/com/productos/valvula-electrica.png') }}" width="100%" style="padding-top:5px;padding-bottom:5px">
          			</div>
					<div class="col-md-6">
						<img id="img-rotate" src="{{ asset('bundles/fremartec/dist/images/com/productos/presentacion.jpg') }}" width="100%">
						<br>
						<br>
						<a href="" onclick="$('#productos').animatescroll();" type="button" class="btn btn-primary btn-block btn-lg">Conoce Nuestra Familia de Productos</a>
          			</div>
					<div class="col-md-3">
						<img id="img-rotate" src="{{ asset('bundles/fremartec/dist/images/com/productos/bombas-sumergibles.png') }}" width="100%">
						<img id="img-rotate" src="{{ asset('bundles/fremartec/dist/images/com/productos/manguera-goteo.png') }}" width="100%" style="padding-top:5px;padding-bottom:5px">
          			</div>
				</div>

				<div class="row">
					<div class="col-md-3">
						<img id="img-rotate" src="{{ asset('bundles/fremartec/dist/images/com/productos/bomba-superficie.png') }}" width="100%">
					</div>
					<div class="col-md-3">
						<img id="img-rotate" src="{{ asset('bundles/fremartec/dist/images/com/productos/caudalimetro.png') }}" width="100%">
					</div>
					<div class="col-md-3">
						<img id="img-rotate" src="{{ asset('bundles/fremartec/dist/images/com/productos/fitting-pvc.png') }}" width="100%">
					</div>
					<!--
					<div class="col-md-2">
						<img id="img-rotate" src="{{ asset('bundles/fremartec/dist/images/com/productos/goteros.png') }}" width="130px">
					</div>
				-->
					<div class="col-md-3">
						<img id="img-rotate" src="{{ asset('bundles/fremartec/dist/images/com/productos/fitting-hdpe.png') }}" width="100%">
					</div>
				</div>

				<br>

				<div class="well">
					<div id="first-marcas" class="">
						<img src="{{ asset('bundles/fremartec/dist/images/com/marcas/VOGT.png') }}" width="120px">
						<img src="{{ asset('bundles/fremartec/dist/images/com/marcas/TORO.png') }}" width="120px">
						<img src="{{ asset('bundles/fremartec/dist/images/com/marcas/TIGRE.png') }}" width="120px">
						<img src="{{ asset('bundles/fremartec/dist/images/com/marcas/RAPHAEL.png') }}" width="120px">
						<img src="{{ asset('bundles/fremartec/dist/images/com/marcas/POLYTEX.png') }}" width="120px">
					</div>
					<div id="second-marcas" class="hidden">
						<img src="{{ asset('bundles/fremartec/dist/images/com/marcas/PENTAX.png') }}" width="120px">
						<img src="{{ asset('bundles/fremartec/dist/images/com/marcas/NANDANJAIN.png') }}" width="120px">
						<img src="{{ asset('bundles/fremartec/dist/images/com/marcas/KSB.png') }}" width="120px">
						<img src="{{ asset('bundles/fremartec/dist/images/com/marcas/HOFFENS.png') }}" width="120px">
						<img src="{{ asset('bundles/fremartec/dist/images/com/marcas/GESTIRRIEGO.png') }}" width="120px">
					</div>
					<div id="three-marcas" class="hidden">
						<img src="{{ asset('bundles/fremartec/dist/images/com/marcas/AZUD.png') }}" width="120px">
						<img src="{{ asset('bundles/fremartec/dist/images/com/marcas/ARI.png') }}" width="120px">
						<img src="{{ asset('bundles/fremartec/dist/images/com/marcas/AMIAD.png') }}" width="120px">
						<img src="{{ asset('bundles/fremartec/dist/images/com/marcas/BERMAD.png') }}" width="120px">
						<img src="{{ asset('bundles/fremartec/dist/images/com/marcas/RAPHAEL.png') }}" width="120px">
					</div>
			</div>
  </div>
  <br>
</div>

{# item 3 #}
<div id="productos" class="jumbotron" style="background-image:url('{{ asset('bundles/fremartec/dist/images/com/bg2.jpg') }}');background-size:100% 100%">
  <div class="container" style="background-color: rgba(255, 255, 255, 0.6)">

		<h2 class="page-header text-left text-info"><strong>Productos Por Familia</strong></h2>


		<div class="row">
      <div class="col-md-5">
				<h3 class="page-header text-muted text-left"><strong>Bombas y tableros</strong></h3>
				<ol class="text-left text-muted">
					<li>Bombas de superficie</li>
					<li>Bombas sumergibles</li>
					<li>Bombas solares</li>
					<li>Bombas dosificadoras</li>
					<li>Tableros eléctricos</li>
					<li>Partidores suaves</li>
				</ol>
      </div>
			<div class="col-md-7">
        <img class="img-rounded" width="100%" src="{{ asset('bundles/fremartec/dist/images/com/familia/productos-02.png') }}">
      </div>
    </div>

		<br>

		<div class="row">
			<div class="col-md-7">
				<img class="img-rounded" width="100%" src="{{ asset('bundles/fremartec/dist/images/com/familia/productos-03.png') }}">
			</div>
			<div class="col-md-5">
				<h3 class="page-header text-muted text-left"><strong>Geosintéticos</strong></h3>
				<ol class="text-left text-muted">
					<li>Geomembranas HDPE</li>
					<li>Geomembranas LLDPE</li>
					<li>Geotextil</li>
					<li>Geonet</li>
					<li>Geomalla</li>
				</ol>
			</div>
		</div>

		<br>

		<div class="row">
			<div class="col-md-5">
				<h3 class="page-header text-muted text-left">Líneas de riego y Emisores</h3>
				<ol class="text-left text-muted">
					<li>Cintas de riego</li>
					<li>Línea de goteo autocompensada</li>
					<li>Línea de goteo normal</li>
					<li>Microaspersión</li>
					<li>Aspersores</li>
				</ol>
			</div>
			<div class="col-md-7">
				<img class="img-rounded" width="100%" src="{{ asset('bundles/fremartec/dist/images/com/familia/productos-04.png') }}">
			</div>
		</div>

	</div>
</div>

<div class="jumbotron" style="background-image:url('{{ asset('bundles/fremartec/dist/images/com/bg3.jpg') }}');background-size:100% 100%">
  <div class="container" style="background-color: rgba(255, 255, 255, 0.6)">

		<div class="row">
			<div class="col-md-5">
				<h3 class="page-header text-muted text-left">Tuberías y fittings</h3>
				<ol class="text-left text-muted">
					<li>Tuberias HDPE Lisas</li>
					<li>Tuberías HDPE corrugadas</li>
					<li>Tuberías PVC Hidráulica</li>
					<li>Tubería PVC Conduit</li>
					<li>Fitting HDPE</li>
					<li>Fitting Polietileno.</li>
				</ol>
			</div>
			<div class="col-md-7">
				<img class="img-rounded" width="100%" src="{{ asset('bundles/fremartec/dist/images/com/familia/productos-05.png') }}">
			</div>
		</div>

		<br>

		<div class="row">
			<div class="col-md-7">
				<img class="img-rounded" width="100%" src="{{ asset('bundles/fremartec/dist/images/com/familia/productos-01.png') }}">
			</div>
			<div class="col-md-5">
				<h3 class="page-header text-muted text-left">Válvulas</h3>
				<ol class="text-left text-muted">
					<li>Válvulas eléctricas plásticas</li>
					<li>Válvula eléctrica metálica</li>
					<li>Válvulas de compuerta</li>
					<li>Válvula de bola</li>
					<li>Válvula de mariposa</li>
					<li>Válvula de aire</li>
					<li>Válvulas de retención</li>
				</ol>
			</div>
		</div>

		<br>

		<div class="row">
			<div class="col-md-5">
				<h3 class="page-header text-muted text-left">Filtros</h3>
				<ol class="text-left text-muted">
					<li>Filtros de malla manual</li>
					<li>Filtro de malla automático</li>
					<li>Filtros de anilla manual</li>
					<li>Filtro de anilla automático</li>
					<li>Baterías filtros de arena automáticos.</li>
				</ol>
			</div>
			<div class="col-md-7">
				<img class="img-rounded" width="100%" src="{{ asset('bundles/fremartec/dist/images/com/familia/productos-06.png') }}">
			</div>
		</div>

		<br>

		<div class="row">
			<div class="col-md-7">
				<img class="img-rounded" width="100%" src="{{ asset('bundles/fremartec/dist/images/com/familia/productos-07.png') }}">
			</div>
			<div class="col-md-5">
				<h3 class="page-header text-muted text-left">Accesorios</h3>
				<ol class="text-left text-muted">
					<li>Pegamentos PVC</li>
					<li>Lubricantes PVC</li>
					<li>Manometros</li>
					<li>Collarines</li>
					<li>Caudalimetros</li>
				</ol>
			</div>
		</div>
	</div>
</div>

{# item 4 #}
<div id="four" class="jumbotron" style="background-image:url('{{ asset('bundles/fremartec/dist/images/bg.jpg') }}');background-size:100% 100%">
    <div class="container">
			<div style="background-color: #fff">
				<br>
				<h2 class="text-center text-primary"><strong>Descargar Fichas Tecnicas</strong></h2>
				<br>
				<div class="container-sm">
					<h4 class="text-muted">
						En esta sección encuentras las fichas técnicas de nuestros principales productos, para que puedas obtener información relevante antes de realizar tu pedido.
					</h4>
				</div>
			</div>


      <img src="{{ asset('bundles/fremartec/dist/images/ing/download/bg-curva.png') }}" width="100%">

			<div class="container-sm" style="background-image:url('{{ asset('bundles/fremartec/dist/images/ing/download/bg.jpg') }}');background-size:100% 100%">
          {% set url = path(app.request.attributes.get('_route'))|trim('/') %}
          <table class="table table-hover">
            <thead>
              <tr>
                <th>#</th>
                <th>titulo</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              {% for i in 1..8 %}
              <tr>
                <td><span class="badge btn-success" style="background-color:#a0b620">{{i}}</span></td>
                <td><strong class="label label-default">titulo_{{i}}</strong></td>
                <td><a href="" class="btn btn-success" data-toggle="modal" data-target="#download" title="download" ng-click="download('primero','comercial')">
									<i class="fa fa-download"></i>&nbsp;Descargar</a></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
				</div>
    </div>
</div>

{# item 5 #}
<div id="five" class="jumbotron">
  <div style="background-image:url('{{ asset('bundles/fremartec/dist/images/ing/bg-contact.jpg') }}')">
    <div class="container">
      <img src="{{ asset('bundles/fremartec/dist/images/map.jpg') }}" width="90%" style="padding: 10% 0 5% 0">
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-4">
				<h4 class="text-comercial"><i class="fa fa-phone fa-lg"></i>&nbsp;053 2 634104 - 053 2 626145</h4>
				<h4 class="text-comercial"><i class="fa fa-envelope fa-lg"></i>&nbsp; <a class="text-info" href="">ventas@fremartec.cl</a></h4>
				<h4 class="text-comercial"><i class="fa fa-home fa-lg"></i>&nbsp;Avda David Perry Nº 45 - Ovalle</h4>
      </div>
    </div>
  </div>
</div>



<!-- Modal -->
<div class="modal fade" id="download" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title text-left text-muted" id="myModalLabel"><i class="fa fa-download"></i>&nbsp;Descargar</h4>
          </div>
          <div class="modal-body">
            <form name="userForm" novalidate>
              <div class="form-group">
                <h5 class="text-left text-muted"><strong>Ingresa tu Correo Electrónico</strong></h5>
                <input type="email" class="form-control" ng-model="email" name="email" placeholder="Email" required autofocus></input>
              </div>
              <div class="alert alert-success" role="alert" ng-show="visible">
                <strong><i class="fa fa-check-circle"></i>&emsp;Gracias</strong> por preferir Fremartec.
              </div>
              <div class="modal-footer">
                <a type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-remove"></i>&nbsp;Cerrar</a>
                <button class="btn btn-primary" ng-disabled="userForm.$invalid" ng-click="download_save()"><i class="fa fa-download" data-dismiss="modal"></i>&nbsp;Descargar</button>
              </div>
            </form>
        </div>
      </div>
  </div>
</div>



{% endblock %}

{% block navbar_bottom %}
	<h6 class="text-center" style="margin-bottom: 0px;margin-top: 5px;">
			<span class="text-comercial" style="font-size:20px"><strong>Cotice Aquí Nuestros Productos</strong></span>&emsp;&emsp;&emsp;
			<a href="mailto:ventas@fremartec.cl" type="button" class="btn btn-primary btn-lg"><i class="fa fa-envelope"></i>&nbsp;Cotizar</a>
	</h6>
{% endblock %}


{% block javascripts %}
    {{parent()}}

		<script type="text/javascript">

			$('#one-marcas,#second-marcas,#three-marcas').attr('class', 'hidden');
			var element = ['#first-marcas','#second-marcas','#three-marcas']
			var cont = 1;

			function contador(){
				cont++;
	      if (cont == 4)
	        cont = 1
				$('#first-marcas,#second-marcas,#three-marcas').attr('class', 'hidden');
				$(element[cont-1]).attr('class','animated fadeInRight ');

	    }

	    setInterval('contador()',5000);

		</script>
{% endblock %}
