{% extends 'FremartecBundle:Layout:layout_pages.html.twig' %}

{% block title %}Consultora{% endblock %}

{% block stylesheets %}
	{{parent()}}
  <link rel="stylesheet" href="{{ asset('bundles/fremartec/dist/cover/cover.css') }}">
  <style type="text/css">
    .navbar-default {
        background-color: #4A90E2;
        opacity: 0.9
    }
  </style>
{% endblock %}

{% block logo %}<img src="{{ asset('bundles/fremartec/dist/images/logos/logo4.png') }}" width="120px">{% endblock %}

{% block menu %}
  <li id="menu-two"><a href="#two" onclick="$('#two').animatescroll();">Proyecto</a></li>
  <li id="menu-three"><a href="#three" onclick="$('#three').animatescroll();">Contacto</a></li>
{% endblock %}

{% block iconmenu %}
	<li><a href="{{ path('comercial') }}" data-toggle="tooltip" title="Comercial"><img src="{{asset('bundles/fremartec/dist/images/icons/ico1.png')}}" width="20x"></a></li>
	<li><a href="{{ path('ingenieria') }}" data-toggle="tooltip" data-placement="bottom" title="Ingeniería"><img src="{{asset('bundles/fremartec/dist/images/icons/ico2.png')}}" width="20x"></a></li>
  <li><a href="{{ path('home') }}" data-toggle="tooltip" data-placement="bottom" title="Inicio"><i class="glyphicon glyphicon-home"></i></a></li>
{% endblock %}

{% block content %}
{# item 1 #}
<div id="one" class="site-wrapper" style="background-image:url('{{ asset('bundles/fremartec/dist/images/con/bg.jpg') }}');background-size:100% 100%">
    <div class="site-wrapper-inner">
        <div class="cover-container">

        	<div class="inner cover">
          		<h1><img src="{{ asset('bundles/fremartec/dist/images/logos/logo-consultora.png') }}"></h1>
            	<p class="lead shadow">
					Nuestra consultora está capacitada para responder y resolver los principales
					problemas que afectan nuestra zona, en cuanto a la optimización del recurso agua.
				</p>
				<p>
					<a href="#" type="button" class="btn btn-consultora btn-lg" onclick="$('#two').animatescroll();">Conoce Nuestra Propuesta</a>
				</p>
        	</div>

        </div>
    </div>
</div>

{# item 2 #}
<div id="two" class="jumbotron" style="background-image:url('{{ asset('bundles/fremartec/dist/images/con/bg2.jpg') }}')">
	<div class="container">
		<div class="container-sm">
			<img src="{{ asset('bundles/fremartec/dist/images/home/about/hr.png') }}" width="100%">
			<h4 class="text-center text-info"><strong>COMO CONSULTORA NUESTRO FOCO ESTÁ EN SER UN CONSTANTE APOYO EN LA BUSQUEDA DE PROYECTOS</strong></h4>
			<img src="{{ asset('bundles/fremartec/dist/images/home/about/hr.png') }}" width="100%">
		</div>
		<br><br>

		<div class="row">
			<div class="col-md-6">
				<div class="panel panel-primary">
					<div class="panel-heading">
				    <h3 class="panel-title">Servicios Permanentes</h3>
				  </div>
				  <div class="panel-body">
						<br>
						<ul class="text-muted text-left">
							<li>Estudio y presentación de proyectos a la Ley de Riego 18.450.</li>
							<li>Levantamiento topográfico y dibujos.</li>
						  <li>DIseño y cubicación de obras civiles y proyectos de riego tecnificado.</li>
						</ul>
						<br><hr>
						<img src="{{ asset('bundles/fremartec/dist/images/con/corfo.png') }}" alt="Corfo">
						<img src="{{ asset('bundles/fremartec/dist/images/con/logo-CNR.jpg') }}" alt="CNR">
						<br>
				  </div>
				</div>
			</div>

			<div class="col-md-6">
				<div class="panel panel-primary">
					<div class="panel-heading">
				    <h3 class="panel-title">Buscamos los proyectos que mejor se adapten a su necesidad.</h3>
				  </div>
				  <div class="panel-body">
						<br>
						<ul class="text-muted text-left">
							<li>Presentación de proyectos Ley de riego 18.450.</li>
							<li>Diseño y postulación proyectos de riego a CORFO.</li>
						  <li>Postulación de proyectos a FIA.</li>
							<li>Apoyo a línea de programas CORFO.</li>
						</ul>
						<hr>
						<h5 class="text-primary">BUSCAMOS APOYO CON ENTIDADES DE GOBIERNO PARA FINANCIAR TU PROYECTO.</h5>

						<img src="{{ asset('bundles/fremartec/dist/images/con/logo-fosis.jpg') }}" alt="Fosis">
						<img src="{{ asset('bundles/fremartec/dist/images/con/sercotec.png') }}" alt="Sercotec">
						<img src="{{ asset('bundles/fremartec/dist/images/con/indap.png') }}" alt="Indap">
						<img src="{{ asset('bundles/fremartec/dist/images/con/fia.jpg') }}" alt="FIA">
				  </div>
				</div>
			</div>
		</div>

		<div class="panel panel-primary" style="background-color: #fff">
			<a href="http://www.cnr.gob.cl/Ley18450/Paginas/Calendario2016.aspx" target="_blank">
				<img src="{{ asset('bundles/fremartec/dist/images/con/banner.png') }}" >
			</a>
		</div>
	</div>

	<br><br><br>
	<br><br><br>
</div>


{# item 3 #}
<div id="three" class="jumbotron">
  <div style="background-image:url('{{ asset('bundles/fremartec/dist/images/con/bg-contact.jpg') }}')">
    <div class="container">
      <img src="{{ asset('bundles/fremartec/dist/images/map.jpg') }}" width="90%" style="padding: 10% 0 5% 0">
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-4">
        <h4 class="text-left text-consultora"><i class="fa fa-phone fa-lg"></i>&nbsp;&nbsp;&emsp;053 2 634104 - 053 2 626145</h4>
        <h4 class="text-left text-consultora"><i class="fa fa-envelope fa-lg"></i>&nbsp;&nbsp;&emsp;<a href="" class="text-info">ventas@fremartec.cl</a></h4>
        <h4 class="text-left text-consultora"><i class="fa fa-home fa-lg"></i>&nbsp;&nbsp;&emsp;Avda David Perry Nº 45 - Ovalle</h4>
      </div>
    </div>
  </div>
</div>
{% endblock %}


{% block navbar_bottom %}
	<h6 class="text-center" style="margin-bottom: 0px;margin-top: 5px;">
			<span class="text-consultora" style="font-size:20px"><strong>Cotice Aquí sus Proyectos</strong></span>&emsp;&emsp;&emsp;
			<a href="mailto:ventas@fremartec.cl" type="button" class="btn btn-consultora btn-lg"><i class="fa fa-envelope"></i>&nbsp;Cotizar</a>
	</h6>
{% endblock %}
