{% extends 'FremartecBundle:Layout:layout_pages.html.twig' %}

{% block title %}Consultora{% endblock %}

{% block stylesheets %}
	{{parent()}}
  <link rel="stylesheet" href="{{ asset('bundles/fremartec/dist/cover/cover.css') }}">
  <style type="text/css">
    .navbar-default {
        background-color: #4A90E2;
        opacity: 0.9
    }
  </style>
{% endblock %}

{% block menu %}
  <li><a href="#two">Areas</a></li>
  <li><a href="#three">Informacion</a></li>
  <li><a href="#four">Atributos</a></li>
  <li><a href="#five">Causa</a></li>
{% endblock %}

{% block iconmenu %}
  <li><a href="{{ path('comercial') }}"><i class="glyphicon glyphicon-stop text-comercial"></i></a></li>
  <li><a href="{{ path('ingenieria') }}"><i class="glyphicon glyphicon-stop text-ingenieria"></i></a></li>
  <li><a href="{{ path('home') }}"><i class="glyphicon glyphicon-home"></i></a></li>
{% endblock %}

{% block content %}
{# item 1 #}
<div class="site-wrapper" style="background-image:url('{{ asset('bundles/fremartec/dist/images/bg7.jpg') }}')">
    <div class="site-wrapper-inner">
        <div class="cover-container"> 

        	<div class="inner cover">
          	<h1><img src="{{ asset('bundles/fremartec/dist/images/logo1.png') }}"></h1>
            <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>
        	</div>
          
        </div>
    </div>
</div>
{% endblock %}