{% extends 'FremartecBundle:Layout:layout_pages.html.twig' %}

{% block title %}Bienvenido{% endblock %}

{% block stylesheets %}
	{{parent()}}
  <link rel="stylesheet" href="{{ asset('bundles/fremartec/dist/cover/cover.css') }}">
  <link rel="stylesheet" href="{{ asset('bundles/fremartec/dist/flip/flip.css') }}">
{% endblock %}

{% block menu %}
  <li id="menu-two"><a href="#two">Nuestra Empresa</a></li>
  <li id="menu-three"><a href="#three">Áreas de Negocio</a></li>
  <li id="menu-four"><a href="#four">Medio Ambiente</a></li>
  <li id="menu-five"><a href="#five">Contacto</a></li>
{% endblock %}

{% block content %}
{# item 1 #}
<div id="one" class="site-wrapper" style="background-image:url('{{ asset('bundles/fremartec/dist/images/bg.jpg') }}')">
    <div class="site-wrapper-inner">
        <div class="cover-container"> 

        	<div class="inner cover">
          	<h1><img src="{{ asset('bundles/fremartec/dist/images/logo1.png') }}"></h1>
          	<p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>
        	</div>
          
        </div>
    </div>
</div>

{# item 2 #}
<div id="two" class="site-wrapper" style="background-color:#fff">
  <div class="site-wrapper-inner">
    <div class="cover-container"> 

      <div class="inner cover">
        <div class="jumbotron" style="background-image:url('{{ asset('bundles/fremartec/dist/images/about1.jpeg') }}'); height:200px">
        </div>

        <h3 class="page-header text-center text-info">Nuestro principal desafío es optimizar al máximo el recurso agua, porque sabemos que más agua significa más vida.</h3>

        <div class="row">
          <div class="col-md-7">
            <h3 class="text-info text-left">Nuestra Empresa</h3>
            <h4 class="text-muted text-left">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no seaest Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua, ugo consetetur Lorem Ipsum..</h4> 
          </div>
          <div class="col-md-5">
            <br><br><br>
            <img src="{{ asset('bundles/fremartec/dist/images/icono_agua.png') }}">
            <br><br>
            <button class="btn btn-primary"><i class="fa fa-download fa-lg"></i>&nbsp;Curriculum Fremartec</button>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

{# item 3 #}
<div id="three" class="site-wrapper" style="background-color:#fff">

  <div class="site-wrapper-inner">
    <div class="cover-container">
      <h1 class="page-header text-left text-info">Title number Two</h1>

      <div class="row">

        <div class="col-md-4 unite">
          <div class="flip">
            <div class="card"> 
              <div class="face front"> 
                <div class="inner" id="area1">
                  <div class="caption">
                    <img src="{{ asset('bundles/fremartec/dist/images/logo2.png') }}">
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
                    <p>
                      <a href="" class="hidden">Ver mas</a>
                    </p>
                  </div>
                </div>
              </div> 
              <div class="face back"> 
                <div class="inner" id="back1">
                  <div class="caption">
                    <img src="{{ asset('bundles/fremartec/dist/images/logo2.png') }}">
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
                    <p>
                      <a href="{{ path('comercial') }}" class="btn btn-default">Ver mas</a>
                    </p>
                  </div>
                </div>
              </div>
            </div>   
          </div>
        </div>

        <div class="col-md-4 unite">
          <div class="flip">
            <div class="card"> 
              <div class="face front"> 
                <div class="inner" id="area2">
                  <div class="caption">
                    <img src="{{ asset('bundles/fremartec/dist/images/logo3.png') }}">
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
                    <p>
                      <a href="" class="hidden">Ver mas</a>
                    </p>
                  </div>
                </div>
              </div> 
              <div class="face back"> 
                <div class="inner" id="back2">
                  <div class="caption">
                    <img src="{{ asset('bundles/fremartec/dist/images/logo3.png') }}">
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
                    <p>
                      <a href="{{ path('ingenieria') }}" class="btn btn-default">Ver mas</a>
                    </p>
                  </div>
                </div>
              </div>
            </div>   
          </div>
        </div>

        <div class="col-md-4 unite">
          <div class="flip">
            <div class="card"> 
              <div class="face front"> 
                <div class="inner" id="area3">
                  <div class="caption">
                    <img src="{{ asset('bundles/fremartec/dist/images/logo1.png') }}">
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
                    <p>
                      <a href="" class="hidden">Ver mas</a>
                    </p>
                  </div>
                </div>
              </div> 
              <div class="face back"> 
                <div class="inner" id="back3">
                  <div class="caption">
                    <img src="{{ asset('bundles/fremartec/dist/images/logo1.png') }}">
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
                    <p>
                      <a href="{{ path('consultora') }}" class="btn btn-default">Ver mas</a>
                    </p>
                  </div>
                </div>
              </div>
            </div>   
          </div>
        </div>

      </div>

    </div>
  </div>
</div>

{# item 4 #}
<div id="four" class="site-wrapper" style="background-image:url('{{ asset('bundles/fremartec/dist/images/bg3.jpg') }}')">
  <div class="site-wrapper-inner">
    <div class="cover-container" > 

      <div class="inner cover">
        <div class="jumbotron">
          <img src="{{ asset('bundles/fremartec/dist/images/text-agua.png') }}" width="40%">
          <br><br>
          <div style="background-color:#114389;padding:40px">
            <h3>Medio Ambiente</h3>
            <div class="container">
              <div class="row">
                <div class="col-md-4">
                  <img src="{{ asset('bundles/fremartec/dist/images/icono-agua.png') }}">
                </div>
                <div class="col-md-8">
                  <h4 class="text-left">Lorem ipsum dolor sit amet,consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet,consectetur adipiscing elit.Lorem ipsum dolor sit amet,consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet,consectetur adipiscing elit.</h4>
                </div>
              </div>
              
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

{# item 5 #}
<div id="five" class="site-wrapper" style="background-image:url('{{ asset('bundles/fremartec/dist/images/bg3.jpg') }}')">
  <div class="site-wrapper-inner">
    <div class="cover-container" > 

      <div class="inner cover">
        <div class="jumbotron" style="background-color:#fff">
          <img src="{{ asset('bundles/fremartec/dist/images/mapa.png') }}" class="rounded" width="100%">
          
          <h4 class="text-primary"><i class="fa fa-phone fa-lg"></i>&nbsp;053 2 634104 - 053 2 626145</h4>
          <h4 class="text-primary"><i class="fa fa-envelope fa-lg"></i>&nbsp; <a class="text-info" href="">ventas@fremartec.cl</a></h4>
          <h4 class="text-primary"><i class="fa fa-home fa-lg"></i>&nbsp;Avda David Perry Nº 45 - Ovalle</h4>
          <br><br>
        </div>
        
      </div>

    </div>
  </div>
</div>

{% endblock %}

{% block navbar_bottom %}
<nav class="navbar navbar-default-bottom navbar-fixed-bottom">
  <!-- We use the fluid option here to avoid overriding the fixed width of a normal container within the narrow content columns. -->
  <div class="container">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-7" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-7">
        <ul class="nav navbar-nav">
          <li><a href="#"><i class="glyphicon glyphicon-map-marker"></i>&nbsp;Ovalle,Chile</a></li>
          <li><a href="#"><i class="glyphicon glyphicon-tint"></i>&nbsp;{{ 'now'|date('D-d') }}</a></li>
          <li><a href="#"><i class="fa fa-sun-o"></i>&nbsp;15/20º</a></li>
          <li><a href=""></a></li>
          <li><a href=""></a></li>
          <li><a href="#"><i class="fa fa-dollar"></i>&nbsp;{[{ indices.dolar.valor}]}</a></li>
          <li><a href="#"><i class="fa fa-euro"></i>&nbsp;{[{ indices.euro.valor}]}</a></li>
          <li><a href="#"><strong>UF</strong>&nbsp;{[{ indices.uf.valor}]}</a></li>
          <li><a href="#"><strong>UTM</strong>&nbsp;{[{ indices.utm.valor}]}</a></li>
        </ul>
    </div><!-- /.navbar-collapse -->
  </div>
</nav>
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script src="{{ asset('bundles/fremartec/dist/flip/flip.js') }}"></script>
  {#<script src="{{ asset('bundles/fremartec/dist/angular/indicadores_controller.js') }}"></script>#}
</script>
{% endblock %}