{% extends 'FremartecBundle:Layout:layout_pages.html.twig' %}

{% block title %}Ingenieria{% endblock %}

{% block stylesheets %}
	{{parent()}}
  <link rel="stylesheet" href="{{ asset('bundles/fremartec/dist/cover/cover.css') }}">
  <link rel="stylesheet" href="{{ asset('bundles/fremartec/dist/flip/flip.css') }}">
  <link rel="stylesheet" href="{{ asset('bundles/fremartec/dist/carousel/carousel.css') }}">
  <style type="text/css">
    .navbar-default {
        background-color: #259952;
        opacity: 0.9
    }
  </style>
{% endblock %}

{% block logo %}<img src="{{ asset('bundles/fremartec/dist/images/logos/logo3.png') }}" width="120px">{% endblock %}

{% block menu %}
  <li id="menu-two"><a href="" onclick="$('#two').animatescroll();">Áreas de Servicio</a></li>
  <li id="menu-three"><a href="" onclick="$('#three').animatescroll();">Obras</a></li>
  <li id="menu-four"><a href="" onclick="$('#four').animatescroll();">Manuales</a></li>
  <li id="menu-five"><a href="" onclick="$('#five').animatescroll();">Contacto</a></li>
{% endblock %}

{% block iconmenu %}
		<li><a href="{{ path('comercial') }}" data-toggle="tooltip" title="Comercial"><img src="{{asset('bundles/fremartec/dist/images/icons/ico1.png')}}" width="20x"></a></li>
		<li><a href="{{ path('consultora') }}" data-toggle="tooltip" data-placement="bottom" title="Consultora"><img src="{{asset('bundles/fremartec/dist/images/icons/ico3.png')}}" width="20x"></a></li>
	  <li><a href="{{ path('home') }}" data-toggle="tooltip" data-placement="bottom" title="Inicio"><i class="glyphicon glyphicon-home"></i></a></li>
{% endblock %}

{% block content %}
{# item 1 #}
<div id="one" class="site-wrapper" style="background-image:url('{{ asset('bundles/fremartec/dist/images/ing/bg.jpg') }}');background-size:100% 100%">
    <div class="site-wrapper-inner">
        <div class="cover-container">

        	<div class="inner cover">
          	<h1><img src="{{ asset('bundles/fremartec/dist/images/logos/logo-ingenieria.png') }}"></h1>
            <p class="lead shadow">
							Fremartec Ingeniería cuenta con un gran equipo técnico y humano,
							capacitado para los más grandes desafíos; Poseemos maquinaria de
							última tecnología que nos permite responder con prontitud y calidad excepcional.
							Los materiales utilizados son de primera línea, certificados y
							testeados a través de años de experiencia.
						</p>
						<p>
							<a href="#" onclick="$('#two').animatescroll();" class="btn btn-ingenieria btn-lg">Conoce Nuestros Servicios&nbsp;<i class="fa fa-angle-double-down fa-lg"></i></a>
						</p>
        	</div>

        </div>
    </div>
</div>

{# item 2 #}
<div id="two" class="jumbotron" style="background-image:url('{{ asset('bundles/fremartec/dist/images/ing/service/bg.jpg') }}')">
  <div class="container">

    <div class="row">
			<div class="bg-primary" style="padding:3px;background-color:#fff">
				<h2 class="text-center text-info">Nuestros Servicios</h2>
			</div>
			<br>
				<div class="col-md-4 unite-sm">
          <div class="inner" id="area1-ingenieria"></div>
					<h4><a href="#" class="btn btn-default btn-lg btn-block" data-toggle="modal" data-target="#areatwo">Agricultura</a></h4>
			  </div>

        <div class="col-md-4 unite-sm">
          <div class="inner" id="area3-ingenieria"></div>
					<h4><a href="#" class="btn btn-default btn-lg btn-block" data-toggle="modal" data-target="#areaone">Minería</a></h4>
        </div>

        <div class="col-md-4 unite-sm">
          <div class="inner" id="area4-ingenieria"></div>
					<h4><a href="#" class="btn btn-default btn-lg btn-block" data-toggle="modal" data-target="#areathree">Sanitaria</a></h4>
        </div>
      </div>
  </div>
</div>

{# item 3 #}
<div id="three" class="carousel slide">
  <!-- Indicators -->
  <ol class="carousel-indicators">
  	{% for i in 1..12 %}
			{% if (i - 1) == 0 %}
				<li data-target="#three" data-slide-to="{{ i - 1 }}" class="active"></li>
			{% else %}
				<li data-target="#three" data-slide-to="{{ i - 1 }}" class=""></li>
			{% endif %}
		{% endfor %}
  </ol>

  <!-- Wrapper for Slides -->
  <div class="carousel-inner">

		{% set items = [
			{"client":"Soc. Agrícola El Ciénago Ltda","title":"Ampliación y revestimiento estanque","address":"El Ciénago, Punitaqui","description":"Ampliación estanque de 16.520 mt3. Instalación geomembrana hdpe 1.00mm 5.825 mt2"},
			{"client":"Agrícola Bauzá S.A","title":"Construcción y revestimiento estanque","address":"Varillar, Monte Patria","description":"Construcción estanque de 12.500 mt3 Instalación geomembrana hdpe 1.00mm 6.730 mt2"},
			{"client":"Agrícola Don Arturo S.A","title":"Revestimiento de estanque","address":"El Reloj, Ovalle","description":"Instalación geomembrana hdpe 1.00mm 5.200 mt2"},
			{"client":"Soc. Agrícola Alfonso Ltda","title":"Construcción y revestimiento estanque","address":"Chañaral Alto, Monte Patria","description":"Construcción estanque de 23.000 mt3 Instalación geomembrana hdpe 1.00mm 9.125 mt2"},
			{"client":"Asoc. De Canalistas Palqui Maurat Semita","title":"Acondicionamiento y Revestimiento de estanque","address":"El Paqui, Monte Patria","description":"Acondicionamiento y limpieza de estanque de 27.000 mt3, Revestimiento con geomembrana Hdpe 1,00mm 16.825 mt2"},
			{"client":"Agricola Canta Rana S.A","title":"Revestimiento estanque","address":"Nueva Aurora, Ovalle","description":"Revestimiento geomembrana de Hdpe 1,5mm 19.405 mt2"},
			{"client":"María Gabriela Zepeda Gomila","title":"Construcción y Revestimiento de estanque","address":"Huallillinga, Ovalle","description":"Diseño y construcción estanque de 33.000 mt3, Revestimiento con geomembrana Hdpe 1,0mm 15.210 mt2"},
			{"client":"Viña Concha y Toro S.A","title":"Revestimiento estanque","address":"Los Acacios, Monte Patria","description":"Revestimiento con geomembrana Hdpe de 1,00mm 11.925 mt2"},
			{"client":"Minera HMC Gold S.M.C","title":"Pipping Planta de Flotación","address":"Punitaqui, Ovalle","description":"Montaje y termofusión pipping hdpe"},
			{"client":"Junta de Vigilancia Rio Elqui","title":"Instalación tubería hdpe Canal Santa Ines","address":"San Ramón, La Serena","description":"Montaje y termofusión tubería hdpe 700mm"},
			{"client":"Agricola Valle Verde S.A","title":"Revestimiento de estanque","address":"Recoleta, Ovalle","description":"Revestimiento con geotextil y geomembrana de Hdpe 9.620 mt2"},
			{"client":"Junta de Vigilancia Rio Limari y sus afluentes","title":"Acondicionamiento y Revestimiento de canale","address":"Las Vegas de Limari, Ovalle","description":"Acondicionamiento y limpieza de canal de 4,5 km, Revestimiento con geomembrana de Hdpe 6510 mt2"},
		] %}

		{% for item in items %}
			{% if loop.index == 1 %}
    		<div class="item active">
			{% else %}
				<div class="item">
			{% endif %}
      	<div class="fill" style="background-image:url('{{ asset('bundles/fremartec/dist/images/ing/work/image_'~(loop.index)~'.jpg') }}');"></div>
      		<div class="carousel-caption">
						<div class="row">
							<div class="col-md-6">
								<div class="panel panel-default">
									<div class="panel-body">
										<img src="{{ asset('bundles/fremartec/dist/images/ing/panel/logo.png') }}" width="50%">
										<img src="{{ asset('bundles/fremartec/dist/images/ing/panel/bg-curva.png') }}" width="100%">

											<strong>Cliente:</strong>&nbsp;{{ item.client }}.<br>
											<strong>Obra:</strong>&nbsp;{{ item.title }}.<br>
											<strong>Ubicación:</strong>&nbsp;{{ item.address }}.<br>
										  <strong>Descripción:</strong>&nbsp;{{ item.description }}.<br>

										<img src="{{ asset('bundles/fremartec/dist/images/ing/panel/hr.png') }}" width="100%">
								</div>
							</div>
						</div>
					</div>
	      </div>
    	</div>
		{% endfor %}
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#three" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#three" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>


{# item 4 #}
<div id="four" class="jumbotron" style="background-image:url('{{ asset('bundles/fremartec/dist/images/bg.jpg') }}');background-size:100% 100%">
    <div class="container">
			<div style="background-color: #fff">
				<br>
				<h2 class="text-center text-primary"><strong>Descargar Manuales</strong></h2>
				<br>
				<div class="container-sm">
					<h4 class="text-muted">
						En esta sección encontrarás manuales con información
						para realizar diversos tipos de trabajos en diferentes escenarios,
						que servirán para una correcta instalación de geomembranas de HDPE.
					</h4>
				</div>
			</div>


      <img src="{{ asset('bundles/fremartec/dist/images/ing/download/bg-curva.png') }}" width="100%">

			<div class="container-sm" style="background-image:url('{{ asset('bundles/fremartec/dist/images/ing/download/bg.jpg') }}');background-size:100% 100%">
          {% set url = path(app.request.attributes.get('_route'))|trim('/') %}
          <table class="table table-hover">
            <thead>
              <tr>
                <th>#</th>
                <th>titulo</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
            
              {% set titles = ["Manual Instalacion GeoMembrana"] %}
              {% for i in 1..1 %}
              <tr>
                <td><span class="badge btn-success" style="background-color:#a0b620">{{i}}</span></td>
                <td><strong class="badge">{{titles[i-1]}}</strong></td>
                <td><a href="" class="btn btn-success" title="descargar" ng-click="setId('3_{{i}}','{{titles[i-1]}}')" data-toggle="modal" data-target="#download">
									<i class="fa fa-download"></i>&nbsp;Descargar</a></td>
              </tr>
              {% endfor %}
             
            </tbody>
          </table>
				</div>
    </div>
</div>


{# item 5 #}
<div id="five" class="jumbotron">
  <div style="background-image:url('{{ asset('bundles/fremartec/dist/images/ing/bg-contact.jpg') }}')">
    <div class="container">
      <img src="{{ asset('bundles/fremartec/dist/images/map.jpg') }}" width="90%" style="padding: 10% 0 5% 0">
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-4">
        <h4 class="text-left text-ingenieria"><i class="fa fa-phone fa-lg"></i>&nbsp;&nbsp;&emsp;053 2 634104 - 053 2 626145</h4>
        <h4 class="text-left text-ingenieria"><i class="fa fa-envelope fa-lg"></i>&nbsp;&nbsp;&emsp;<a href="" class="text-info">ventas@fremartec.cl</a></h4>
        <h4 class="text-left text-ingenieria"><i class="fa fa-home fa-lg"></i>&nbsp;&nbsp;&emsp;Avda David Perry Nº 45 - Ovalle</h4>
      </div>
    </div>
  </div>
</div>

<!-- Modal Area 1 -->
<div class="modal fade" id="areaone" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header" style="background-color:#269952">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Minería</h4>
      </div>
      <div class="modal-body" style="padding-bottom:0px;padding-top:0px">
        <div class="row">
          <div class="col-md-6" style="padding-left:0px">
            <img id="img-rotate-one" src="{{ asset('bundles/fremartec/dist/images/ing/slide/mineria1.jpg') }}" width="100%" height="350px">
          </div>
          <div class="col-md-6">
						<br>
						<h3 class="text-muted text-left page-header"><strong>Minería</strong></h3>
						<dl class="text-muted text-left">
							<ul>
								<li>Canchas para pilas de lixiviación</li>
								<li> Piscinas acumuladoras de agua</li>
								<li> Piscinas de procesos</li>
								<li> Piping en plantas mineras</li>
								<li> Termofusión de tuberías HDPE</li>
								<li> Piezas especiales de HDPE fabricadas a pedido</li>
							</ul>
						</dl>
					</div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal Area 2 -->
<div class="modal fade" id="areatwo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header" style="background-color:#269952">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Agricultura</h4>
      </div>
			<div class="modal-body" style="padding-bottom:0px;padding-top:0px">
        <div class="row">
          <div class="col-md-6" style="padding:0px">
            <img id="img-rotate-two" src="{{ asset('bundles/fremartec/dist/images/ing/slide/agricultura1.jpg') }}" width="100%" height="350px">
          </div>
          <div class="col-md-6">
						<br>
						<h3 class="text-muted text-left page-header"><strong>Agricultura</strong></h3>
						<dl class="text-muted text-left">
							<ul>
								<li> Construcción de estanques acumuladores</li>
								<li> Instalación de geomembrana en estanques</li>
								<li> Instalación de geomembranas en canales</li>
								<li> Montaje de tuberías HDPE en canales</li>
								<li> Termofusión de tuberías HDPE</li>
								<li> Montaje de bombas impulsoras</li>
								<li> Instalaciones de riego tecnificado</li>
							</ul>
						</dl>
					</div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Modal Area 3 -->
<div class="modal fade" id="areathree" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header" style="background-color:#269952">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Sanitaria</h4>
      </div>
			<div class="modal-body" style="padding-bottom:0px;padding-top:0px">
        <div class="row">
          <div class="col-md-6" style="padding-left:0px">
            <img id="img-rotate-three" src="{{ asset('bundles/fremartec/dist/images/ing/slide/sanitaria1.jpg') }}" width="100%" height="350px">
          </div>
          <div class="col-md-6">
						<br>
						<h3 class="text-muted text-left page-header"><strong>Sanitaria</strong></h3>
						<dl class="text-muted text-left">
							<ul>
								<li>Estanques acumuladores de agua</li>
								<li> Termofusión tuberías HDPE</li>
								<li> Electrofusión fittng HDPE</li>
								<li> Piezas especiales de HDPE fabricadas a pedido</li>
							</ul>
						</dl>
					</div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="download" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title text-left text-muted" id="myModalLabel"><i class="fa fa-download"></i>&nbsp;Descargar</h4>
          </div>
          <div class="modal-body">
            <form name="userForm" novalidate>
              <div class="form-group">
                <h5 class="text-left text-muted"><strong>Ingresa tu Correo Electrónico</strong></h5>
                <input type="email" class="form-control" ng-model="email" name="email" placeholder="Email" required autofocus></input>
              </div>
              <div class="alert alert-success" role="alert" ng-show="visible">
                <strong><i class="fa fa-check-circle"></i>&emsp;Gracias</strong> por preferir Fremartec.
              </div>
              <div class="modal-footer">
                <a type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-remove"></i>&nbsp;Cerrar</a>
                <button class="btn btn-primary" ng-disabled="userForm.$invalid" ng-click="save()"><i class="fa fa-download" data-dismiss="modal"></i>&nbsp;Descargar</button>
              </div>
            </form>
        </div>
      </div>
  </div>
</div>
{% endblock %}

{% block navbar_bottom %}
	<h6 class="text-center" style="margin-bottom: 0px;margin-top: 5px;">
			<span class="text-ingenieria" style="font-size:20px"><strong>Cotice Aquí Nuestros Servicios</strong></span>&emsp;&emsp;&emsp;
			<a href="mailto:ventas@fremartec.cl" type="button" class="btn btn-ingenieria btn-lg"><i class="fa fa-envelope"></i>&nbsp;Cotizar</a>
	</h6>
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script src="{{ asset('bundles/fremartec/dist/flip/flip.js') }}"></script>

  <script type="text/javascript">
    var contOne = 1;
    var total = 6;
    var modal = "";
    var area = "";
    var interval;

    $('#areaone').focusin(function(){
      area = "mineria"
      modal = "one"
      total = 6
      interval = setInterval('contador()',4000);
    })

    $('#areaone').focusout(function(){
      clearInterval(interval);
    })

    $('#areatwo').focusin(function(){
      area = "agricultura"
      modal = "two"
      total = 6
      interval = setInterval('contador()',4000);
    })
    $('#areatwo').focusout(function(){
      clearInterval(interval);
    })

    $('#areathree').focusin(function(){
      area = "sanitaria"
      modal = "three"
      total = 4
      interval = setInterval('contador()',4000);
    })
    $('#areathree').focusout(function(){
      clearInterval(interval);
    })
    
    function contador(){
      contOne++;
      if (contOne == total)
        contOne = 1

      var url = "{{ asset('bundles/fremartec/dist/images/ing/slide/areacontador.jpg') }}"
      var url_new = url.replace("area", area)
      url_new = url_new.replace("contador", contOne)
      $('#img-rotate-'+modal).attr('src',url_new);
    }

  </script>
{% endblock %}