{% extends 'FremartecBundle:Layout:layout_dashboard.html.twig' %}

{% block title "Documentos"%}

{% block document %}class="active"{% endblock %}

{% block content %}
    <h1 class="page-header">Documentos</h1>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>Nombre</th>
                <th>Categoria</th>
                <th>Descripción</th>
                <th>Creado</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><span class="badge">{{ loop.index }}</span></td>
                <td><a href="{{ path('document_edit', { 'id': entity.id }) }}" class="text-primary"><strong>{{ entity.name }}</strong></a></td>
                <td>{{ entity.category }}</td>
                <td>{{ entity.description }}</td>
                <td>{% if entity.createAt %}{{ entity.createAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    {% if entity.path is not null %}
                        <a href="{{ path('document_download', { 'id': entity.id }) }}" class="glyphicon glyphicon-download text-success"></a>&nbsp;
                    {% endif %}
                    <a href="{{ path('document_edit', { 'id': entity.id }) }}" class="glyphicon glyphicon-edit text-primary"></a>&nbsp;
                    <a href="{{ path('document_delete', { 'id': entity.id }) }}" class="glyphicon glyphicon-trash text-danger" onclick="return confirm('are you sure?')"></a>&nbsp;
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="modal-footer">
        <a href="{{ path('document_new') }}" class="btn btn-primary">Nuevo</a>
    </div>

{% endblock %}
