{% extends '::base.html.twig' %}

{% block title %}Bienvenido{% endblock %}

{% block body %}
	<nav class="navbar navbar-default navbar-fixed-top">
	  	<div class="container">
		    <!-- Brand and toggle get grouped for better mobile display -->
		    <div class="navbar-header">
		      	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
		        	<span class="sr-only">Toggle navigation</span>
		        	<span class="icon-bar"></span>
		        	<span class="icon-bar"></span>
		        	<span class="icon-bar"></span>
		      	</button>
		      	<a class="navbar-brand" href="#">Fremartec</a>
		    </div>

		    <!-- Collect the nav links, forms, and other content for toggling -->
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		      	<ul class="nav navbar-nav">
			        <li><a></a></li>
			        <li><a></a></li>
			        <li><a></a></li>
			        <li class="active"><a href="#">Inicio <span class="sr-only">(current)</span></a></li>
			        {% block menu %}{% endblock %}
			        <li><a href="{{ path('contacto') }}">Contacto</a></li>
		      	</ul>
		      	
		      	<ul class="nav navbar-nav navbar-right">
		        	<li><a href="{{ path('home') }}"><i class="glyphicon glyphicon-home"></i></a></li>
		        	<li><a href="#"><i class="glyphicon glyphicon-envelope"></i></a></li>
		        	<li><a href="{{ path('login') }}"><i class="glyphicon glyphicon-log-in"></i></a></li>
		      	</ul>
		    </div><!-- /.navbar-collapse -->
	  	</div><!-- /.container-fluid -->
	</nav>
	{% block content %}{% endblock %}
{% endblock %}

{% block javascripts %}
    {{parent()}}
    <script src="{{ asset('bundles/fremartec/dist/angular/document_controller.js') }}"></script>

	<!--Start of Zopim Live Chat Script-->
	<script type="text/javascript">
	window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
	d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
	_.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute("charset","utf-8");
	$.src="//v2.zopim.com/?2spWTNsBqfw2qA538wX4tGImmyLJdZYh";z.t=+new Date;$.
	type="text/javascript";e.parentNode.insertBefore($,e)})(document,"script");
	</script>
	<!--End of Zopim Live Chat Script-->
{% endblock %}
   