{% extends '::base.html.twig' %}

{% block title %}Bienvenido{% endblock %}

{% block body %}
	<nav class="navbar navbar-default navbar-fixed-top">
	  	<div class="container">
		    <!-- Brand and toggle get grouped for better mobile display -->
		    <div class="navbar-header">
		      	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
		        	<span class="sr-only">Toggle navigation</span>
		        	<span class="icon-bar"></span>
		        	<span class="icon-bar"></span>
		        	<span class="icon-bar"></span>
		      	</button>
		      	<a class="navbar-brand" href="" onclick="$('#one').animatescroll();">{% block logo %}<img src="{{ asset('bundles/fremartec/dist/images/logos/logo1.png') }}" width="120px">{% endblock %}</a>
		    </div>

		    <!-- Collect the nav links, forms, and other content for toggling -->
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		      	<ul class="nav navbar-nav">
			        <li class="visible-lg"><a></a></li>
			        <li id="menu-one" class="active"><a href="" onclick="$('#one').animatescroll();">Inicio <span class="sr-only">(current)</span></a></li>
			        {% block menu %}{% endblock %}
		      	</ul>

		      	<ul class="nav navbar-nav navbar-right">
		      	{% block iconmenu %}
	      		  	<li><a href="{{ path('comercial') }}" data-toggle="tooltip" data-placement="bottom" title="Comercial"><img src="{{asset('bundles/fremartec/dist/images/icons/ico1.png')}}" width="20x"></a></li>
	      		  	<li><a href="{{ path('ingenieria') }}" data-toggle="tooltip" data-placement="bottom" title="Ingeniería"><img src="{{asset('bundles/fremartec/dist/images/icons/ico2.png')}}" width="20x"></a></li>
				 				<li><a href="{{ path('consultora') }}" data-toggle="tooltip" data-placement="bottom" title="Consultora"><img src="{{asset('bundles/fremartec/dist/images/icons/ico3.png')}}" width="20x"></a></li>
		        {% endblock %}
		      	</ul>
		    </div><!-- /.navbar-collapse -->
	  	</div><!-- /.container-fluid -->
	</nav>
	{% block content %}{% endblock %}
	{% block navbar_bottom %}{% endblock %}
	{% block footer %}
		<div class="container">
		  	<hr>
		  	<footer>
		    	<h6 class="text-center text-muted">
			      (053) 2 634104 - (053) 2 626145  -  ventas@fremartec.cl
			      Avda David Perry Nº 45 - Ovalle, Chile - {{'now'|date('Y')}}</h6>
		  	</footer>
		</div>{% endblock %}
{% endblock %}

{% block javascripts %}
    {{parent()}}
    <script src="{{ asset('bundles/fremartec/dist/menu/menu.js') }}"></script>
    <script src="{{ asset('bundles/fremartec/dist/animate_scroll/animatescroll.min.js') }}"></script>
	<!--Start of Zopim Live Chat Script-->
	<script type="text/javascript">
	window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
	d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
	_.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute("charset","utf-8");
	$.src="//v2.zopim.com/?2spWTNsBqfw2qA538wX4tGImmyLJdZYh";z.t=+new Date;$.
	type="text/javascript";e.parentNode.insertBefore($,e)})(document,"script");
	</script>
	<!--End of Zopim Live Chat Script-->
{% endblock %}
